body{
    background-color: rgba(0, 0, 0, 0.679);
    color: white;
    font-family: cursive;
    flex-grow: inherit;
    padding: 10px 40px;
    flex-shrink: inherit;
    flex-grow: inherit;
}
#container{
    display: flex;
    flex-direction: row;
}
nav{
    display: flex;
    flex-direction: row;
}
nav{
    flex-grow: inherit;
    flex-shrink: inherit;
}
.nav-1{
    color: rgb(255, 89, 0);
    margin-right: 10vh;
    font-family: cursive;
    flex-grow: inherit;
    flex-shrink: inherit;
}
.nav-2 ul h3{
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    flex-shrink: inherit;
    list-style: none;
}
.nav-2 ul h3 li{
    margin-right: 45px;
    flex-grow: inherit;
    flex-shrink: inherit;
}
.Web-Design{
    margin-right: 20vh;
}
span{
    color: rgb(255, 89, 0);
}
.join {
    padding: 5px 25px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 89, 0);
}
button:hover{
    color: white;
    font-size: large;
}  
.login{
    background-color: black;
    padding: 5vh;
    width: 30vh;
    text-align: center;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}
.login h3{
    color: rgb(255, 89, 0);
    background-color: white;
    border-radius: 7px;
}

.login button{
    background-color:rgb(255, 89, 0) ;
    align-items: center;
    margin-top: 25px;
    border-radius: 10px;
    padding: 1vh 11vh;
}
.login h4 span :hover{
    cursor: pointer;
    font-size: small;
}
.search{
    border-color: black;
    background-color: aliceblue;
    height: 20px;
    width: 300px;
    margin-top: 25px;
    margin-left: 70px;
}
.searchicon{
    height: 25px;
    margin-top: 25px;
}
